@{ ViewData["Title"] = "Complain Train"; }
<div class="row" id="logo-banner">
    <div class="col-md-12">
        <img id="train-image" class="image-responsive" src="/images/ComplainTrain.png"/>
</div>

<div class="row" id="complaint">
    <div class="col-md-12">
        <hr>
        <h3>Where are you travelling from?</h3>
        <br />
        <input id="station" class="form-control" placeholder="Start typing..." />
        <input id="selected-station" type="hidden" />
        <br />
        <input id="submit-station" data-url="@Url.Content("/Home/GetDepartures")" class="btn btn-default" type="submit" value="Find delayed services">
    </div>
</div>
<div class="row" id="departures">
</div>