@{
    ViewData["Title"] = "Train Complain";
}
@model ComplainTrain.Web.Models.StationModel
<div class="row">
    <div class="col-md-12">
        <section id="logo-banner">
            <img title="Thank you freepik for the vector!" id="train-image" class="image-responsive" src="/images/ComplainTrain.png" />
            <h1>
                Train Complain
            </h1>
            <p>Made by an angry commuter, for angry commuters.</p>
        </section>
        <hr>
        <section id="complaint">
            <h3>Where are you travelling from?</h3>
            <br />
            <input id="station" class="form-control" placeholder="Start typing..."/>
            <input asp-for="SelectedStation" />
            <br />
            <input class="btn btn-default" type="submit" value="Find delayed services">
        <section>
    </div>
</div>