@{ ViewData["Title"] = "Complain Train"; }
<div class="row" id="logo-banner">
    <div class="col-md-12">
        <img id="train-image" class="image-responsive" src="/images/ComplainTrain v2.png" />
    </div>
</div>

<div class="row" id="hero">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <hr>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-12" id="station-search">
        <h3>Where are you travelling from?</h3>
        <br />
        <input id="station" class="form-control" placeholder="Start typing..." data-toggle="popover" title="Required" data-placement="top"
            data-content="Please search for and select a station." />
        <input id="selected-station" type="hidden" />
        <br />
        <input id="submit-station" data-url="@Url.Content("/Home/GetDepartures")" class="btn btn-default" type="submit" value="Find delayed services">
    </div>
</div>
<div class="row" id="departures">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="table-responsive">
            <table id="departures-table" class="table">
                <thead>
                    <tr>
                        <td class="status-head"></td>
                        <td>Destination</td>
                        <td>Due</td>
                        <td class="expected-head">Expected</td>
                        <td>Platform</td>
                        <td class="operator-head">Operator</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-2"></div>
</div>
<div id="no-trains" class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h4>There doesn't appear to be any trains running today...</h4>
    </div>
    <div class="col-md-1"></div>
</div>
<div id="search-again" class="row">
    <div class="col-md-12">
        <a href="/" class="btn btn-default">Search again</a>
    </div>
</div>
<div id="complain-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Make a complaint</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Shout it from the rooftops!&nbsp;&nbsp;<i class="fa fa-bullhorn" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>