@{ ViewData["Title"] = "Complain Train"; }
<div class="row" id="logo-banner">
    <div class="col-md-12">
        <img id="train-image" class="image-responsive" src="/images/ComplainTrain.png"/>
</div>

<div class="row" id="complaint">
    <div class="col-md-12">
        <hr>
        <h3>Where are you travelling from?</h3>
        <br />
        <input id="station" class="form-control" placeholder="Start typing..." />
        <input id="selected-station" type="hidden" />
        <br />
        <input id="submit-station" data-url="@Url.Content("/Home/GetDepartures")" class="btn btn-default" type="submit" value="Find delayed services">
    </div>
</div>
<div class="row" id="departures">
    <div class="col-md-3">
        <div class="panel panel-success departure-board">
            <div class="panel-heading">
                <h3 class="panel-title">All good! <i class="fa fa-check-circle-o" aria-hidden="true"></i><br/></h3>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-6 control-label">Destination:</label>
                    <span class="col-sm-6 label-text">Sevenoaks</span>
                </div>
                <div class="form-group">   
                    <label class="col-sm-6 control-label">Due:</label>
                    <span class="col-sm-6 label-text">16:05</span>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Expected:</label>
                    <span class="col-sm-6 label-text">On Time</span>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Operator:</label>
                    <span class="col-sm-6 label-text">Thameslink</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-warning departure-board">
            <div class="panel-heading">
                <h3 class="panel-title">Alert <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><br/></h3>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-6 control-label">Destination:</label>
                    <span class="col-sm-6 label-text">Sevenoaks</span>
                </div>
                <div class="form-group">   
                    <label class="col-sm-6 control-label">Due:</label>
                    <span class="col-sm-6 label-text">16:05</span>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Expected:</label>
                    <span class="col-sm-6 label-text">On Time</span>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Operator:</label>
                    <span class="col-sm-6 label-text">Thameslink</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-danger departure-board">
            <div class="panel-heading">
                <h3 class="panel-title">Warning <i class="fa fa-exclamation-circle" aria-hidden="true"></i></h3>
            </div>
            <div class="form-horizontal">
                <div class="form-group">       
                    <label class="col-sm-6 control-label">Destination:</label>
                    <span class="col-sm-6 label-text">Sevenoaks</span>
                </div>
                <div class="form-group">   
                    <label class="col-sm-6 control-label">Due:</label>
                    <span class="col-sm-6 label-text">16:05</span>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Expected:</label>
                    <span class="col-sm-6 label-text">On Time</span>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Operator:</label>
                    <span class="col-sm-6 label-text">Thameslink</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-danger departure-board">
            <div class="panel-heading">
                <h3 class="panel-title">Warning <i class="fa fa-exclamation-circle" aria-hidden="true"></i></h3>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-6 control-label">Destination:</label>
                    <span class="col-sm-6 label-text">Sevenoaks</span>
                </div>
                <div class="form-group">   
                    <label class="col-sm-6 control-label">Due:</label>
                    <span class="col-sm-6 label-text">16:05</span>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Expected:</label>
                    <span class="col-sm-6 label-text">On Time</span>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">Operator:</label>
                    <span class="col-sm-6 label-text">Thameslink</span>
                </div>
            </div>
        </div>
    </div>
</div>