@{
    ViewData["Title"] = "Train Complain";
}

<div class="row">
    <div class="col-md-12">
        <section id="logo-banner">
            <img id="train-image" class="image-responsive" src="/images/traincomplain.png" />
            <h1>
                Train Complain
            </h1>
            <p>Because the UK's train companies deserve a damn good bollocking.</p>
        </section>
    </div>
</div>
