@{
    ViewData["Title"] = "Train Complain";
}
@model TrainComplain.Web.Models.StationModel
<div class="row">
    <div class="col-md-12">
        <section id="logo-banner">
            <img title="Thank you freepik for the vector!" id="train-image" class="image-responsive" src="/images/traincomplain.png" />
            <h1>
                Train Complain
            </h1>
            <p>Made by an angry commuter, for angry commuters.</p>
        </section>
        <hr>
        <section id="complaint">
            <h3>Where are you travelling from?</h3>
            <select class="selectpicker" data-live-search="true" asp-for="@Model.SelectedStation" asp-items="@Model.Stations"></select>
        <section>
    </div>
</div>
