.navbar {
    border-radius: 0px;
}

p
{
    font-family: 'Open Sans', sans-serif;
}

/* Section Specific Styling */
div#logo-banner
{
    text-align:center;
    color: #3892D2;
}

div#logo-banner img#train-image
{
    width:50%;
}

div#logo-banner h1
{
    margin-top:0px;
    font-family: 'Faster One', cursive;
}

div#complaint
{
    margin-top:5%;
    text-align:center;
    color: #3892D2;
    margin-bottom:5%;
}

div#complaint input
{
    color: #3892D2;
}

div#complaint input#station
{
    margin: 0 auto;
    width:33%;
}

div#departures
{
    text-align: center;
}
