@{
    ViewData["Title"] = "Mentor Me";
}

<div class="row">
    <div class="col-md-12">
        <h2>Will it deploy?</h2>
        <form asp-controller="Home" asp-action="Index" method="post">
            <input type="hidden" name="foo" value="Mentor me testing" />
            <input type="submit" value="Push Me!" class="btn btn-default"/>
        </form>
    </div>
</div>
